/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */
blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------ Min css starter ------------------------------------------------ */
body {
  background-color: #f3f3f3;
  font-size: 1.2rem;
  font-family: "alata", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  overflow-x: hidden;
}

/* ------------------------------------------------ navigationsbar ------------------------------------------------ */
/* -- navigation -- */
nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: black;
  align-items: center;
  padding: 1rem;
}

/* -- logo -- */
.lille-logo {
  grid-area: "lille-logo";
  width: auto;
  max-width: 10%;
}

/* -- Skjul menupunkter, søg/profil ikoner, stort logo og checkboxen -- */
.menupunkter,
.ikoner,
.stort-logo,
#burgermenu {
  display: none;
}

/* -- Burgermenu-ikon styling (åbner menuen) -- */
.menu-ikon {
  display: block;
  width: 2rem;
}

.menu-ikon img {
  width: 120%;
  height: auto;
}

/* ------------------------------------------------ forside ------------------------------------------------ */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

/* -- forside billede -- */
.rod-forsidebillede {
  max-width: 100vw;
  height: auto;
}

/* -- overskrift -- */
#velkomst-outline-overskrift {
  font-size: 3rem;
  color: transparent; /* fjern fyldfarven */
  -webkit-text-stroke: 2px #ce0404; /* 2px rødt omrids */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem; /* afstand til næste overskrift */
  line-height: 1; /* linjeafstand */
}

#rod-velkomst-overskrift {
  font-size: 3rem;
  color: #ce0404;
  -webkit-text-stroke: 2px #ce0404; /* 2px rødt omrids */
  text-align: center;
  line-height: 1; /* linjeafstand */
}

/* -- velkomst tekst mobil -- */
.forside-tekst {
  display: grid;
  text-align: center;
  line-height: 1.3;
  margin: 2rem 3rem 0rem 3rem;
}

#linje-et-velkomst-mobil {
  margin-bottom: 1rem;
}

/* -- skjul desktop tekst -- */
.velkomst-desktop {
  display: none;
}

/* -- styling af knap -- */
.knap-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.forside-knap {
  background-color: #ce0404;
  border: 1px solid #ce0404;
  color: white;
  font-family: inter, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Skygge */
}

/* -- event banner -- */
.banner {
  max-width: 100vw;
  margin-top: 1rem;
}

.bissesvinet-mobil {
  max-width: 100%;
  margin-top: -1rem; /* -- fjerner afstanden mellem de to banner -- */
}

.taw-mobil,
.asbjorn-mobil {
  max-width: 100%;
}

/* -- mobiltekst under billederne -- */
.bissesvinet-mobiltekst,
.taw-mobiltekst,
.asbjorn-mobiltekst {
  display: grid;
  text-align: center;
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
}

/* -- frivillig billede -- */
.emma-minna-mobil {
  display: grid;
  margin-top: 2rem;
  justify-self: center;
  max-width: 70vw;
}

.sektion-overskrift {
  display: grid;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 2rem; /* -- top/bund & siderne -- */
}

.brodtekst-mobil {
  display: grid;
  margin: 1.5rem 1rem;
}

/* ------------------------------------------------ footer ------------------------------------------------ */
.footer-mobil {
  display: grid;
  font-family: inter, sans-serif;
  font-weight: 200;
  color: white;
  background-color: black;
}

.footer-overskrift-mobil {
  display: grid;
  font-size: 2rem;
  padding: 1.5rem;
}

.footer-tekst-mobil {
  display: grid;
  font-size: 1rem;
  padding: 0 0 2rem 1.5rem; /* -- top, højre, bund, venstre -- */
  line-height: 1.6;
}

.some-ikoner {
  display: grid;
  padding: 0 1.5rem 1.5rem 1.5rem; /* -- top, højre, bund, venstre -- */
  max-width: 100vw;
}

/* -- tilmeld nyhedsbrev -- */
.email-felt {
  margin-left: 1.5rem;
  padding: 0.75rem;
  border: 2px solid #626262;
  font-size: 1rem;
  font-family: inter, sans-serif;
  color: #ffffff;
  max-width: 100%;
  margin-bottom: 10%;
}

/* ------------------------------------------------ Media query for desktops ------------------------------------------------ */
@media (min-width: 900px) {
  /* ------------------------------------------------ navigationsbar ------------------------------------------------ */
  /* -- styling af navigationsbar -- */
  nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "lille-logo stort-logo menupunkter ikoner";
    background-color: black;
    align-items: center;
    gap: 2rem;
    padding: 0.3rem 1rem;
  }

  /* -- lille logo styling -- */
  .lille-logo {
    grid-area: lille-logo;
    width: auto; /* Logoet tilpasses naturligt */
    max-width: 3rem; /* Reducerer bredden af containeren */
    height: auto;
    justify-self: start; /* Placeres mod venstre */
  }

  /* -- stort logo styling -- */
  .stort-logo {
    grid-area: "stort-logo";
    display: block;
    max-width: 85%;
    height: auto;
    justify-self: center;
    position: relative; /* Gør det muligt at flytte det med margin */
    margin-bottom: -3rem; /* Flyt logoet nedad ved at bruge en negativ margin */
    z-index: 1; /* Sørger for, at logoet forbliver synligt over navigationen */
  }

  /* -- Skjul burgermenuen -- */
  .menu-ikon {
    display: none;
  }

  /* -- menupunkter styling -- */
  .menupunkter {
    grid-area: "menupunkter";
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }

  .menupunkter a {
    text-decoration: none;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
  }

  /* -- rød streg under menpunkt ved hover -- */
  .menupunkter a:hover {
    text-decoration: underline red;
  }

  /* -- søg og profil ikon styling enkeltvis -- */
  .ikon {
    width: 2rem;
    height: auto;
  }

  /* -- søg og profil ikon styling samlet -- */
  .ikoner {
    grid-area: "ikoner";
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
  }

  /* ------------------------------------------------ forsiden ------------------------------------------------ */
  .velkomst-mobil {
    display: none;
  }

  /* -- styling af velkomstbesked og billede -- */
  .velkomst-desktop {
    display: grid;
  }
}
