/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */
blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------ Min css starter ------------------------------------------------ */
body {
  background-color: #f3f3f3;
  font-size: 1.2rem;
  font-family: "alata", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  overflow-x: hidden;
}

/* ------------------------------------------------ navigationsbar ------------------------------------------------ */
/* -- navigation -- */
nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: black;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* -- logo -- */
.lille-logo {
  grid-area: "lille-logo";
  width: auto;
  max-width: 2rem;
}

/* -- Skjul menupunkter, søg/profil ikoner, stort logo og checkboxen -- */
.menupunkter,
.ikoner,
.stort-logo,
#burgermenu {
  display: none;
}

/* -- Burgermenu-ikon styling (åbner menuen) -- */
.menu-ikon {
  display: block;
  width: 2rem;
  grid-area: "burgermenu";
}

.menu-ikon img {
  width: 120%;
  height: auto;
}

/* ------------------------------------------------ forside ------------------------------------------------ */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

/* -- forside billede -- */
.rod-forsidebillede {
  max-width: 100vw;
  height: auto;
}

/* -- overskrift -- */
#velkomst-outline-overskrift {
  font-size: 3rem;
  color: transparent; /* fjern fyldfarven */
  -webkit-text-stroke: 2px #ce0404; /* 2px rødt omrids */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem; /* afstand til næste overskrift */
  line-height: 1; /* linjeafstand */
}

#rod-velkomst-overskrift {
  font-size: 3rem;
  color: #ce0404;
  -webkit-text-stroke: 2px #ce0404; /* 2px rødt omrids */
  text-align: center;
  line-height: 1; /* linjeafstand */
}

/* -- velkomst tekst mobil -- */
.forside-tekst {
  display: grid;
  text-align: center;
  line-height: 1.3;
  margin: 2rem 3rem 0rem 3rem;
}

#linje-et-velkomst-mobil {
  margin-bottom: 1rem;
}

/* -- skjul tablet og desktop indhold -- */
/* prettier-ignore */
.velkomst-tablet, .desktop-forside-knap, .velkomst-desktop, .bissesvinet-desktop,
.taw-desktop, .asbjorn-desktop, .banner-tablet, .frivillig-banner,
.frivillig-sektion-desktop, .emma-minna-desktop, .footer-desktop {
  display: none;
}

/* -- styling af knap -- */
.knap-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.forside-knap,
.desktop-forside-knap {
  background-color: #ce0404;
  border: 1px solid #ce0404;
  color: white;
  font-family: inter, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Skygge */
}

/* -- event banner -- */
.kommende-events-banner {
  font-size: 2.5rem;
  color: transparent; /* fjern fyldfarven */
  -webkit-text-stroke: 2px white; /* 2px hvidt omrids */
  background-color: black;
  text-align: center;
  padding: 2rem 0;
  line-height: 1; /* linjeafstand */
}

.banner-mobil {
  width: 100vw;
}

/* -- mobiltekst under billederne -- */
.bissesvinet-mobiltekst,
.taw-mobiltekst,
.asbjorn-mobiltekst {
  display: grid;
  text-align: center;
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
}

/* -- frivillig billede -- */
.emma-minna-mobil {
  display: grid;
  margin-top: 2rem;
  justify-self: center;
  max-width: 70vw;
}

.sektion-overskrift {
  display: grid;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 2rem; /* -- top/bund & siderne -- */
}

.brodtekst-mobil {
  display: grid;
  margin: 1.5rem 1rem;
}

/* ------------------------------------------------ footer ------------------------------------------------ */
.footer-mobil {
  display: grid;
  font-family: inter, sans-serif;
  font-weight: 200;
  color: white;
  background-color: black;
}

.footer-overskrift-mobil {
  display: grid;
  font-size: 2rem;
  padding: 1.5rem;
}

.footer-tekst-mobil {
  display: grid;
  font-size: 1rem;
  padding: 0 0 2rem 1.5rem; /* -- top, højre, bund, venstre -- */
  line-height: 1.6;
}

.some-ikoner {
  display: grid;
  padding: 0 1.5rem 1.5rem 1.5rem; /* -- top, højre, bund, venstre -- */
  max-width: 100vw;
}

/* -- tilmeld nyhedsbrev -- */
.email-felt {
  margin-left: 1.5rem;
  padding: 0.75rem 5rem 0.75rem 0.75rem; /* -- top, højre, bund, venstre -- */
  border: 2px solid #626262;
  font-size: 1rem;
  font-family: inter, sans-serif;
  color: #ffffff;
  max-width: 100%;
  margin-bottom: 10%;
}

/* ------------------------------------------------ Media query for små tablets ------------------------------------------------ */
@media (min-width: 600px) {
  /* ------------------------------------------------ navigationsbar ------------------------------------------------ */
  /* -- styling af navigationsbar -- */
  nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "lille-logo stort-logo burgermenu";
    background-color: black;
    align-items: center;
    gap: 2rem;
    padding: 0.3rem 1rem;
  }

  /* -- stort logo styling -- */
  .stort-logo {
    grid-area: "stort-logo";
    display: block;
    max-width: 70%;
    height: auto;
    justify-self: center;
    position: relative; /* logoet kan flyttes med margin */
    margin-bottom: -3rem; /* flyt logoet nedad med negativ margin */
    z-index: 1; /* logo over navigationen */
  }

  /* ------------------------------------------------ content ------------------------------------------------ */
  /* -- vis tablet tekst -- */
  .velkomst-tablet {
    display: grid;
    text-align: center;
    margin: 2rem;
  }

  .forside-tekst-desktop {
    margin: 1rem 0;
  }

  /* prettier-ignore */
  #forste-linje-tablet, .anden-linje-desktop,  .tredje-linje-desktop, .fjerde-linje-desktop {
    padding-bottom: 1rem;
  }

  .forside-knap:hover,
  .desktop-forside-knap:hover {
    background-color: #9f0404;
    color: white;
    border: 1px solid;
    border-color: #9f0404;
    transition: background-color 0.3s ease, color 0.3s ease; /* glidende overgang */
  }

  /* -- kommende events banner styling -- */
  .kommende-events-banner {
    font-size: 4rem;
  }

  /* prettier-ignore */
  .banner-mobil, .forside-tekst, .emma-minna-mobil {
    display: none;
  }

  .banner-tablet,
  .frivillig-banner {
    display: block;
    width: 100vw;
  }

  .frivillig-sektion-mobil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center; /* Vertikal centrering */
    margin: 2rem 0;
  }

  .emma-minna-desktop {
    display: grid;
    grid-column: 1;
    justify-self: center;
    max-width: 40vw;
  }

  .sektion-overskrift,
  .brodtekst-mobil,
  .forside-knap {
    grid-column: 2;
    justify-self: start;
  }

  .knap-container {
    margin-bottom: 0;
  }

  /* -- frivillig styling -- */
}

/* ------------------------------------------------ Media query for desktops ------------------------------------------------ */
@media (min-width: 900px) {
  /* ------------------------------------------------ navigationsbar ------------------------------------------------ */
  /* -- styling af navigationsbar -- */
  nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "lille-logo stort-logo menupunkter ikoner";
    background-color: black;
    align-items: center;
    gap: 2rem;
    padding: 0.3rem 1rem;
  }

  /* -- lille logo styling -- */
  .lille-logo {
    width: auto;
    max-width: 3rem; /* bredden af containeren */
    height: auto;
    justify-self: start; /* placeres til venstre */
  }

  /* -- stort logo styling -- */
  .stort-logo {
    grid-area: "stort-logo";
    display: block;
    max-width: 85%;
    height: auto;
    justify-self: center;
    position: relative; /* logoet kan flyttes med margin */
    margin-bottom: -3rem; /* flyt logoet nedad med negativ margin */
    z-index: 1; /* logo over navigationen */
  }

  /* -- Skjul burgermenuen -- */
  .menu-ikon {
    display: none;
  }

  /* -- menupunkter styling -- */
  .menupunkter {
    grid-area: "menupunkter";
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }

  .menupunkter a {
    text-decoration: none;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
  }

  /* -- rød streg under menpunkt ved hover -- */
  .menupunkter a:hover {
    text-decoration: underline red;
  }

  /* -- søg og profil ikon styling enkeltvis -- */
  .ikon {
    width: 2rem;
    height: auto;
  }

  /* -- søg og profil ikon styling samlet -- */
  .ikoner {
    grid-area: "ikoner";
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
  }

  /* ------------------------------------------------ forsiden ------------------------------------------------ */
  /* prettier-ignore */
  .velkomst-mobil,  .knap-container,  .bissesvinet-mobiltekst,  .taw-mobiltekst,
  .asbjorn-mobiltekst,  .banner-tablet,  .frivillig-sektion-mobil, .footer-mobil {
    display: none;
  }

  /* -- styling af velkomstbesked og billede -- */
  .velkomst-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    grid-auto-flow: column; /* de bliver på samme række */
    margin: 2rem;
  }

  .forside-tekst-desktop {
    grid-column: 1;
    display: grid;
    align-content: center;
    height: 100%;
  }

  /* prettier-ignore */
  #forste-linje-desktop, .anden-linje-desktop, .tredje-linje-desktop, .fjerde-linje-desktop {
    padding-bottom: 1rem;
  }

  .knap-container-desktop {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .rod-forsidebillede-desktop {
    grid-column: 2;
    width: 100%;
    height: auto;
  }

  /* -- artister -- */
  .bissesvinet-desktop,
  .asbjorn-desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto; /* to rækker */
    align-items: center;
  }

  .taw-desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto; /* to rækker */
    align-items: center;
  }

  .desktop-forside-knap {
    display: grid;
    grid-column: 2;
  }

  .bissesvinet-tekst-desktop,
  .asbjorn-tekst-desktop {
    grid-column: 2;
    justify-items: center; /* horisontalt */
    align-content: center; /* vertikalt */
    text-align: center; /* centreret tekst */
    padding-right: 2rem;
  }

  .artist-forside {
    width: 100%;
    height: auto;
    padding: 3rem;
  }

  .taw-artist-forside {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: auto;
    padding: 3rem;
  }

  .taw-tekst-desktop {
    grid-column: 1;
    justify-items: center; /* horisontalt */
    align-content: center; /* vertikalt */
    text-align: center; /* centreret tekst */
    padding-left: 2rem;
  }

  /* -- frivillig sektion -- */
  .frivillig-sektion-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; /* Rækker justeres efter indhold */
    align-items: start;
  }

  .emma-minna-desktop {
    grid-column: 1;
    grid-row: 1 / 3;
    width: auto;
    max-height: 90%;
    align-self: center; /* vertikalt centreret */
    justify-self: end;
    margin: 3rem 0;
  }

  #frivillig-outline-overskrift {
    grid-column: 2;
    grid-row: 1;
    font-size: 4rem;
    color: #f3f3f3; /* fjern fyldfarven */
    -webkit-text-stroke: 2px #ce0404; /* 2px rødt omrids */
    text-align: start;
    align-self: end;
    margin: 3rem 0 4rem -9rem; /* top, højre, bund, venstre */
    line-height: 1; /* linjeafstand */
  }

  #rod-frivillig-overskrift {
    grid-column: 2;
    grid-row: 1;
    font-size: 4rem;
    color: #ce0404;
    -webkit-text-stroke: 2px #ce0404; /* 2px rødt omrids */
    text-align: start;
    margin-left: 8.5rem;
    align-self: end;
    line-height: 1; /* linjeafstand */
  }

  .brodtekst-desktop {
    margin: 0 3rem;
    justify-items: center; /* Centrerer elementer horisontalt */
  }

  .brodtekst-desktop p {
    padding: 1rem;
    grid-column: 2; /* Forbliver i anden kolonne */
    grid-row: 2;
    text-align: left; /* Eventuel tekst kan være venstrestillet */
  }

  /* ------------------------------------------------ footer ------------------------------------------------ */
  .footer-desktop {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    font-family: inter, sans-serif;
    font-weight: 200;
    color: white;
    background-color: black;
  }

  .radar-footer-overskrift-desktop {
    grid-column: 1;
    grid-row: 1;
    font-size: 2rem;
    padding: 1.5rem;
  }

  .radar-footer-tekst-desktop {
    grid-column: 1;
    grid-row: 2;
    font-size: 1rem;
    padding: 0 0 2rem 1.5rem; /* -- top, højre, bund, venstre -- */
    line-height: 1.6;
  }

  .kontakt-footer-overskrift-desktop {
    grid-column: 1;
    grid-row: 3;
    font-size: 2rem;
    padding: 1.5rem;
  }

  .kontakt-footer-tekst-desktop {
    grid-column: 1;
    grid-row: 4;
    font-size: 1rem;
    padding: 0 0 2rem 1.5rem; /* top, højre, bund, venstre */
    line-height: 1.6;
  }

  .faq-footer-overskrift-desktop {
    grid-column: 2;
    grid-row: 1;
    font-size: 2rem;
    padding: 1.5rem;
  }

  .faq-footer-tekst-desktop {
    grid-column: 2;
    grid-row: 2 / 5; /* starter i række 2 og slutter i række 4 */
    font-size: 1rem;
    padding: 0 0 2rem 1.5rem; /* top, højre, bund, venstre */
    line-height: 1.6;
  }

  .some-footer-overskrift-desktop {
    grid-column: 3;
    grid-row: 1;
    font-size: 2rem;
    padding: 1.5rem;
  }

  .some-ikoner {
    grid-column: 3;
    grid-row: 2;
    padding: 0 1.5rem 1.5rem 1.5rem; /* -- top, højre, bund, venstre -- */
    max-width: 100%;
  }

  .nyhedsbrev-footer-overskrift-desktop {
    grid-column: 3;
    grid-row: 3;
    font-size: 2rem;
    padding: 1.5rem;
  }

  /* -- tilmeld nyhedsbrev -- */
  .nyhedsbrev {
    grid-column: 3;
    grid-row: 4;
  }

  .email-felt {
    margin-left: 1.5rem;
    padding: 0.75rem 5rem 0.75rem 0.75rem; /* -- top, højre, bund, venstre -- */
    border: 2px solid #626262;
    font-size: 1rem;
    font-family: inter, sans-serif;
    color: #ffffff;
    max-width: 100%;
    margin-bottom: 10%;
  }
}
